@import 'styles.css';

.checkout-form .payment-container,
.checkout-form .buyer-container {
  display: flex;
  flex-direction: column;
}

.checkout-form .exp-cvv-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}
.checkout-form .exp-cvv-container div {
  display: flex;
  flex-direction: column;
  max-width: 45%;
}

.exp-cvv-container label {
  font-size: var(--h5_size);
}

#terms-container {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  margin-bottom: 1.25rem;
}

#terms-label {
  margin: 0;
}

#terms-label,
#terms-label > a {
  font-size: var(--h5_size);
}

h2.checkout-success-title {
  text-align: center;
  margin-bottom: 1.5rem;
}

div.checkmark {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.checkmark svg {
  fill: var(--tertiary_color);
  height: 8rem;
  width: 8rem;
  margin-inline: auto;
}

p.success-footer {
  text-align: center;
  margin-top: 1rem;
}

/* Tablet */
@media (min-width: 768px) {
  form.checkout-form {
    justify-content: center;
    max-width: 70%;
    margin: 3rem auto;
  }

  .checkout-form .cta.pay-btn {
    width: 50%;
    margin-inline: auto;
    margin-top: 3rem;
  }

  .checkout-success {
    max-width: 70%;
    margin-inline: auto;
  }

  .checkout-success .success-message-container {
    max-width: 75%;
    margin: 3rem auto;
  }
}

/* Desktop */

@media (min-width: 1200px) {
  h1.red-title {
    text-align: left;
  }

  form.checkout-form {
    /* margin: 0; */
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }

  .checkout-form .buyer-container,
  .checkout-form .payment-container {
    max-width: 40%;
    flex: 1;
    margin: 0 auto;
  }

  .checkout-success-title {
    font-size: var(--h1_size);
  }

  .checkout-success .success-message-container {
    max-width: 35%;
  }
}
