@import "variables.css";

.red-title {
  color: var(--secondary_color);
  text-align: center;
}

nav.menu-nav {
  margin-bottom: 0.5rem;
  padding: 0.8rem;
  background-color: var(--primary_color);
  box-shadow: var(--box-shadow);
  z-index: 1000;
}
ul.navlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul.navlinks li {
  list-style-type: none;
}
div.icon-navlinks-wrapper {
  display: flex;
  align-items: center;
}
/* a.go-to-cart-link {
    justify-self: end;
  }
  a.logout-link {
    place-self: end;
  } */
svg.logo-svg {
  max-width: 40px;
  max-height: 40px;
  width: 100%;
}
svg.cart-svg {
  width: 44px;
  height: 40px;
}
svg.logout-svg {
  width: 30px;
  height: 30px;
}

svg.svg-filter-icon {
  width: 14px;
  height: 12px;
}
img {
  max-width: 100%;
}

.checkout-form .exp-cvv-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  gap: 0.5rem;
}
.checkout-form .exp-cvv-container div {
  display: flex;
  flex-direction: column;
  width: 50%;
}
