@import "variables.css";
@import "checkout.css";

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

header.frontpage-header {
  display: grid;
}

body {
  background-color: var(--primary_color);
  color: var(--color_text_dark);
}

main {
  margin: 0 1.5rem;
  padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--display_font);
  font-weight: 400;
}

h1 {
  font-size: var(--h1_size);
}

h2 {
  font-size: var(--h2_size);
}

h3 {
  font-size: var(--h3_size);
}

h4 {
  font-size: var(--h4_size);
}

h5 {
  font-size: var(--h5_size);
}

h6 {
  font-size: var(--h6_size);
}

p,
span,
label,
input,
textarea,
select,
button {
  font-family: var(--body_font);
}

input {
  border: none;
}

button {
  cursor: pointer;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.error-message {
  color: var(--danger_color);
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  margin-top: -0.5rem;
}

.error-border {
  border: 2px solid var(--danger_color);
}

.success-message {
  color: var(--success_color);
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.success-border {
  border: 2px solid var(--success_color);
}

.strong-link {
  color: var(--tertiary_color);
  font-weight: 700;
  text-decoration: none;
}

.cta {
  background-color: var(--tertiary_color);
  font-weight: 700;
  color: var(--primary_color);
  border: none;
  padding: 0.6rem 1rem;
  transition: var(--transition);
  cursor: pointer;
  font-size: 1rem;
}

.cta.success {
  background-color: var(--success_color);
}

.cta-error-animation {
  animation: error-animation 0.175s ease-in-out;
  background-color: var(--danger_color);
}

@keyframes error-animation {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.spinner {
  border: 5px solid var(--primary_color); /* Light grey */
  border-top: 5px solid var(--secondary_color); /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: loading 0.5s linear infinite;
  place-self: center;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.green-title {
  color: var(--tertiary_color);
  font-size: var(--h1_size);
  margin-top: 1rem;
}

/* Global footer */
footer.footer {
  background-color: #220600; /* VARIABLE HERE */
  padding: 2rem;
}
footer.footer a {
  text-decoration: none;
  color: var(--primary_color);
  font-weight: 400;
  cursor: pointer;
}
footer button {
  background-color: transparent;
  color: var(--primary_color);
  border: none;
  text-align: left;
  font-size: 1rem; /* variable here!!!!!!!!!!!! */
  font-family: none;
}
h3.categories-footer-heading,
h3.information-footer-heading {
  color: var(--primary_color);
  font-weight: 600;
}
svg.instagram-svg,
svg.facebook-svg {
  width: 2.5rem;
  height: 2.5rem;
}
svg.footer-logo-svg {
  width: 4.375rem;
  height: 4.375rem;
  margin-bottom: 2rem;
}
section.categories-footer,
section.footer-information {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  gap: 1rem;
}
section.some-links {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
section.payment-methods {
  margin-bottom: 2rem;
}
section.payment-methods img {
  width: 60%;
}
figcaption.payment-img-figcaption {
  font-size: var(--h6_size);
}
section.copyright {
  text-align: center;
}
svg.svg-filter-icon {
  width: 0.875rem;
  height: 0.75rem;
}

/* ############## Sign up & Login ############## */
/* skal flyttes til eget stylesheet */

/* Header */
header.frontpage-header::after {
  content: "";
  display: block;
  height: 200px;
  width: 100vw;
  background-color: var(--overlay_color);
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.img-container {
  height: 200px;
  overflow: hidden;
  width: 100vw;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-position: center 55%;
  object-fit: cover;
}

.img-title {
  color: var(--primary_color);
  text-align: right;
  padding: 2rem;
  font-size: var(--h1_title_size);
  line-height: 50px;
  position: absolute;
  z-index: 2;
  top: 0;
}

/* Main */
main.sign-up-main,
main.login-main {
  height: calc(100% - 200px);
}

/* forms */
.sign-up-form,
.log-in-form,
.checkout-form {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.sign-up-form label,
.log-in-form label,
.checkout-form label {
  margin-bottom: 0.25rem;
}

.sign-up-form input,
.log-in-form input,
.checkout-form input:not([type="checkbox"]) {
  margin-bottom: 1.25rem;
  padding: 0.5rem;
  box-shadow: var(--box-shadow);
}

.sign-up-form .cta,
.log-in-form .cta,
.checkout-form .cta {
  margin-top: 2rem;
}

/* Footer */
.form-footer {
  text-align: center;
}

/* Tablet */
@media (min-width: 768px) {
  body.frontpage-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
  }

  .img-container {
    height: 100vh;
    width: 50vw;
  }

  header.frontpage-header {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  header.frontpage-header::after {
    height: 100vh;
    width: 50vw;
  }

  .img-title {
    max-width: 50vw;
    padding: 0 0.5rem;
    margin-top: 7.3rem;
    line-height: 4.375rem;
  }

  main.sign-up-main,
  main.log-in-main {
    height: 100%;
    padding: 0 2rem;
    margin-top: 7.3rem;
  }

  .sign-up-form,
  .log-in-form {
    margin: 3rem 0;
  }

  .form-footer {
    grid-column: 2 / 3;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .green-title {
    margin-top: 0;
  }

  .img-title {
    line-height: 5.375rem;
    padding: 0 2rem;
  }

  .sign-up-form,
  .log-in-form {
    margin: 4rem 0;
  }
}
