@import 'variables.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary_color);
  color: var(--color_text_dark);
  font-family: var(--body_font);
}
button {
  font-family: var(--body_font);
}
img {
  max-width: 100%;
}
.hidden {
  display: none;
  visibility: hidden;
}
/* #### BACK TO TOP BUTTON - TEST #### */
button.back-to-top {
  background-color: transparent;
  position: fixed;
  right: 3rem;
  bottom: 5rem;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.5s;
}
button.back-to-top:hover {
  opacity: 60%;
}
.hiddenBtn {
  display: none;
  opacity: 0%;
}
svg.back-to-top-icon {
  width: 2rem;
  height: 2rem;
  color: var(--tertiary_color);
}

/* ########## SPECIFIC STYLING STARTS HERE ##########  */
header.header-navigation {
  position: sticky;
  top: 0;
}
/* ### Menu navigation - er flyttet til styles.css ### */
nav.menu-nav {
  margin-bottom: 0.5rem;
  padding: 0.8rem;
  background-color: var(--primary_color);
  box-shadow: var(--box-shadow);
  z-index: 1000;
  position: sticky;
  top: 0;
}
ul.navlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul.navlinks li {
  list-style-type: none;
}
li.icon-navlinks-wrapper {
  display: flex;
  align-items: center;
}
svg.logo-svg {
  max-width: 2.5rem;
  max-height: 2.5rem;
  width: 100%;
}
svg.cart-svg {
  width: 2.75rem;
  height: 2.5rem;
}
svg.logout-svg {
  width: 1.875rem;
  height: 1.875rem;
}
/* ######## Footer ######## */
footer.footer {
  background-color: var(--footer_color);
  padding: 2rem;
}
footer.footer a {
  text-decoration: none;
  color: var(--primary_color);
  font-weight: var(--font-weight_reg);
  cursor: pointer;
}
footer button {
  background-color: transparent;
  color: var(--primary_color);
  border: none;
  text-align: left;
  font-size: 1rem; /* !!!!!!!!!!! VARIABLE HERE !!!!!!!!!!!! */
  font-family: none;
}
h3.categories-footer-heading,
h3.information-footer-heading {
  color: var(--primary_color);
  font-weight: var(--font-weight_semi_bold);
}
svg.instagram-svg,
svg.facebook-svg {
  width: 2.5rem;
  height: 2.5rem;
}
svg.footer-logo-svg {
  width: 4.375rem;
  height: 4.375rem;
  margin-bottom: 2rem;
}
section.categories-footer,
section.footer-information {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  gap: 1rem;
}
section.some-links {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
section.payment-methods {
  margin-bottom: 2rem;
}
section.payment-methods img {
  width: 60%;
}
figcaption.payment-img-figcaption {
  font-size: var(--h6_size);
}
section.copyright {
  text-align: center;
}
svg.svg-filter-icon {
  width: 0.875rem;
  height: 0.75rem;
}
/* ######## Loader element ########
for letting the user know that the system is working behind the scenes
- is only visible until the code reaches the catch and sends the errormessage (and only in case of an error) */
div.loader-wrapper {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}
svg#loader-element {
  width: 4.375rem;
  height: 4.375rem;
  fill: var(--color_text_dark);
  animation: spinningLoader 7s ease 0s infinite normal forwards;
}
@keyframes spinningLoader {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ############### PRODUCTVIEW PAGE ############### (mobile first, responsive adaptions in the bottom) ############### */
/* #### Filterbutton nav #### */
nav#filter-buttons-navigation {
  position: sticky;
  top: 72.4px; /* placed directly under the main navigation */
}
div.top-level-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: white; /* !!!!!!!!!!!!!!! VARIABLE COLOR HERE !!!!!!!!!!!!!!!! */
  border-bottom: 0.1rem solid var(--tertiary_color);
}
div.top-level-button-wrapper button {
  border: none;
  text-align: center;
  width: 100%;
  padding: 0.9rem 0rem 0.9rem 0rem;
}
div.all-products-button-wrapper,
div.show-filter-buttons-wrapper {
  width: 100%;
}
div.all-products-button-wrapper:hover,
div.show-filter-buttons-wrapper:hover {
  background-color: var(--primary_color);
}
/* The active class, that toggles on the filter buttons */
.active-button {
  background-color: var(--tertiary_color);
  color: var(--primary_color);
  fill: var(--primary_color);
}
/* Category buttons to filter by */
div.filter-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
div.filter-buttons button {
  width: 50%;
  border-radius: 0%;
  padding: 0.5rem;
  border: 0.01rem solid var(--tertiary_color);
}
div.filter-buttons button:hover {
  background-color: var(--primary_color);
}
/* #### Heading on productview #### 'All products' / category name */
h1.heading {
  font-family: var(--display_font);
  font-weight: var(--font-weight_medium);
  text-align: center;
  margin: 0.4rem 0.4rem 3rem 0.4rem;
  color: var(--secondary_color);
}
/* #### Product section ####  */
section#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin: 2rem 2rem 10rem 2rem;
}
/* Product article */
/* Accessibility for the product image bc. we use it as a backgroundimage, so we can not set the alt text */
.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -0.0625rem;
  padding: 0;
  overflow: hidden;
  border: 0;
}
article.product {
  flex: 1 0 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
}
article.product div.product-info h2.product-title,
p.product-price {
  margin: 0.1rem;
  padding: 0.1rem;
}
h2.product-title {
  font-size: 1rem; /* !!!!!!!!!! VARIABLE HERE  !!!!!!!!!!!!!! */
  font-weight: var(--font-weight_reg);
  line-height: var(--line-height);
}
div.product-info {
  background-color: #7f8181; /* !!!!!!!!!!!! REMEMBER TO PUT THIS IN A VARIABLE !!!!!!!!!!!!!!! */
  height: 5rem;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  color: white; /* !!!!!!!!!!!!!!!! VARIABLE HERE!!!!!!!!!!!!!!!!!!!!! */
}
div.product-img-container {
  width: 100%;
  height: auto;
  background-color: white; /* !!!!!!!!!!!!! VARIABLE HERE!!!!!!!!!!!!!!!!!!!!! */
  padding: 1rem;
}
div.product-img-wrapper {
  height: 10rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
div.add-product-button {
  width: 100%;
  display: flex;
  justify-content: end;
  margin: 0;
  padding: 0;
  background-color: #7f8181; /* !!!!!!!!!!!!!!!! VARIABLE HERE !!!!!!!!!!!!!!!!!!!!!!! */
}
div.add-product-button button {
  border: none;
  color: var(--primary_color);
  margin: 0;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem; /* !!!!!!!!!!!!!!!!!!!! VARIABLE HERE !!!!!!!!!!!!!!!!! */
  font-weight: var(--font-weight_medium);
  background-color: var(--tertiary_color);
  cursor: pointer;
}
div.add-product-button button:hover {
  background-color: var(--success_color);
}
/* ############### SINGLEVIEW PAGE ############### */
button.go-back-button {
  border: none;
  padding: 0.8rem 1rem 0.8rem 1rem;
  width: 100%;
  max-width: 8rem;
  font-weight: var(--font-weight_semi_bold);
  text-align: left;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin: 1rem;
  color: var(--color_text_dark);
}
button.go-back-button:hover {
  color: var(--tertiary_color);
}
svg.back-arrow-icon {
  width: 0.875rem;
  height: 0.875rem;
}
section.single-product-wrapper {
  margin: 1rem 0rem 10rem 0rem;
  padding: 0rem 2rem 0rem 2rem;
}
div.img-product-wrapper {
  text-align: center; /* originally for text, but since used to justify content of a block elm. on the inline axis  */
}
div.img-product-wrapper img.single-product-img {
  max-width: 70%;
  margin: 0.5rem;
}
/* #### Info about product #### */
h1.h1-product-title {
  text-align: left;
  font-weight: var(--font-weight_reg);
  margin-bottom: 0.1rem;
  color: var(--secondary_color);
}
h2.h2-product-category {
  font-size: 1rem; /* !!!!!!!!!!!!!!!!!! VARIABLE HERE !!!!!!!!!!!!!!! */
  margin-bottom: 2rem;
  font-weight: var(--font-weight_reg);
}
p.price-desc {
  font-size: var(--h5_size);
}
p.price {
  font-size: var(--h3_size);
  margin-bottom: 1rem;
}
/* Product description */
p.product-desc {
  line-height: var(--line-height);
  margin-bottom: 1rem;
}
/* Read more a-tag in product description */
a.read-more {
  text-decoration: none;
  font-weight: var(--font-weight_semi_bold);
  color: var(--color_text_dark);
}
a.read-more:hover {
  color: var(--tertiary_color);
}
div.btn-wrapper-singleview {
  margin-bottom: 2rem;
}
button.add-to-cart-btn-singleview,
button.checkout-btn-cart {
  border: none;
  background-color: var(--tertiary_color);
  text-align: center;
  padding: 0.8rem 1rem 0.8rem 1rem;
  width: 100%;
  max-width: 21.875rem;
  color: var(--primary_color);
  font-weight: var(--font-weight_semi_bold);
  margin: 1.5rem 0rem 1rem 0rem;
  text-transform: uppercase;
}
/* The checkout button in cart - size controlling | max-width used as a exception */
@media (max-width: 400px) {
  button.checkout-btn-cart {
    max-width: 17.875rem;
  }
}

button.add-to-cart-btn-singleview:hover,
button.checkout-btn-cart:hover {
  box-shadow: var(--box-shadow);
}
/* #### Accordions / collapsables #### */
div.accordion-wrapper {
  margin-bottom: 1rem;
}
button.accordion-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: white; /* !!!!!!!!!!!!!!!!!!!!!! VARIABLE HERE !!!!!!!!!!!!!!!!!!!!!!!! */
  padding: 0.8rem 1rem 0.8rem 1rem;
  width: 100%;
  max-width: 21.875rem;
  text-align: left;
  margin-bottom: 1rem;
  box-shadow: var(--box-shadow);
}
div.panel {
  padding: 0 1.125rem;
  margin-bottom: 1rem;
  background-color: var(--primary_color);
  display: none;
  overflow: hidden;
}
svg.open-accordion-icon {
  width: 0.75rem;
  height: 0.5rem;
  fill: none;
}
/* The accordion that's active gets this class in JS */
button.active-accordion {
  border: 0.1rem solid;
  border-color: var(--tertiary_color);
}
p.product-rating-desc {
  margin-bottom: 0.5rem;
  line-height: var(--line-height);
}
p.accoridon-product-content {
  font-weight: var(--font-weight_semi_bold);
  line-height: var(--line-height);
}
span.express-span,
span.standard-span {
  font-weight: var(--font-weight_semi_bold);
}
p.express-delivery-desc,
p.standard-delivery-desc {
  margin-bottom: 0.5rem;
  line-height: var(--line-height);
}
/* ############### CART PAGE ############### */
/* #### Quantity buttons #### */
div.input-group.plus-minus-input {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
div.plus-minus-input {
  align-items: center;
}
div.plus-minus-input input.input-group-field {
  text-align: center;
  padding: 0.5rem;
  max-width: 3rem;
  width: 100%;
  -moz-appearance: textfield; /* removes the input value button */
}
button.quantity {
  border-radius: 0%;
  padding: 1rem;
}
/*  #### Heading - cart page #### (shares the heading class, but also has its own)  */
h1.cart-heading {
  margin: 2rem 0rem 3rem 0rem;
  font-weight: var(--font-weight_reg);
}
/* #### Product in cart content #### */
div.desktop-cart-wrapper {
  margin-bottom: 3rem;
}
section.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin: 2rem;
}
div.cart-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
}
div.item-img-wrapper {
  background-color: white; /* !!!!!!!!!!! VARIABLE HERE!!!!!!!!!! */
  padding: 1rem;
  max-width: 7rem;
  width: 100%;
}
h2.item-name {
  font-size: var(--h5_size);
  font-weight: var(--font-weight_medium);
}
p.item-category {
  font-size: var(--h6_size);
}
div.item-text-wrapper {
  inline-size: 10rem;
}
p.item-price {
  font-size: var(--h5_size);
}
button.delete-item-from-cart-button {
  color: var(--secondary_color);
  font-size: var(--h5_size);
  background-color: transparent;
  border: none;
  align-self: baseline;
}
button.delete-item-from-cart-button:hover {
  font-weight: var(--font-weight_semi_bold);
}

/* #### Calculation part of cart #### */
section.calculation-container {
  display: flex;
  flex-direction: column;
}
div.total-wrapper,
div.delivery-wrapper,
div.subtotal-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 0rem 1rem;
  margin: 2rem;
}
div.expense-overview {
  background-color: var(--secondary_color);
  color: var(--primary_color);
  padding: 1rem 0rem 1rem 0rem;
}
div.btn-wrapper-cart {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}
/* #### Add to cart button #### */
div.add-product-button button.add-product-success,
div.btn-wrapper-singleview button.add-product-success {
  background-color: var(--success_color);
  color: var(--overlay_color);
}
circle.red-dot-on-cart {
  fill: var(--danger_color);
}

/* ############### RESPONSIVE SETTINGS ############### */
/* TABLET ADAPTIONS - FOOTER */
@media (min-width: 768px) {
  footer.footer {
    padding: 4rem;
  }
  section.payment-methods img {
    width: 40%;
  }
  footer.footer div.top-of-footer-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5rem;
  }
  section.payment-methods {
    width: 100%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: flex-end;
  }
  section.footer-logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
  }
}
/* TABLET ADAPTIONS - PRODUCTVIEW PAGE | SINGLEVIEW | CART */
@media (min-width: 768px) {
  section#products {
    margin: 2rem 4rem 10rem 4rem;
  }
  article.product {
    flex: 1 0 200px;
  }
  /* #### SINGLEVIEW PAGE #### */
  section.single-product-wrapper {
    margin: 2rem 3rem 15rem 3rem;
  }
  article.single-product {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  div.img-product-wrapper {
    grid-column: 1;
  }
  div.text-wrapper {
    grid-column: 2;
  }
  div.btn-wrapper-singleview {
    text-align: left;
  }
  /* #### CART PAGE #### */
  h1.cart-heading {
    text-align: left;
    padding: 1rem 1rem 0rem 1rem;
    margin: 3rem;
  }
  section.cart-container {
    margin: 3rem;
  }
  button.delete-item-from-cart-button {
    font-size: 0.8rem; /* !!!!!!!! VARIABLE HERE !!!!!!!!!!!!! */
  }
  div.total-wrapper,
  div.delivery-wrapper,
  div.subtotal-wrapper {
    padding: 1rem 1rem 0rem 1rem;
    margin: 3rem;
  }
  div.item-text-wrapper {
    inline-size: 15rem;
  }
  div.desktop-cart-wrapper {
    margin-bottom: 6rem;
  }
}
/* DESKTOP ADAPTIONS - PRODUCTVIEW PAGE | SINGLEVIEW | CART */
@media (min-width: 1200px) {
  section#products {
    margin: 2rem 6rem 10rem 6rem;
    /*    gap: 2rem; */
  }
  article.product {
    flex: 1 0 250px;
  }
  /* #### SINGLEVIEW PAGE #### */
  section.single-product-wrapper {
    margin: 3rem 6rem 15rem 6rem;
  }
  /* #### CART PAGE #### */
  div.item-text-wrapper {
    inline-size: 20rem;
  }
  div.desktop-cart-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 8rem;
  }
  section.calculation-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem;
    padding: 1rem 2rem 0rem 2rem;
    background-color: var(--secondary_color);
  }
  button.delete-item-from-cart-button {
    font-size: 1rem; /* !!!!!!!! VARIABLE HERE !!!!!!!!!!!!! */
  }
  div.total-wrapper,
  div.delivery-wrapper,
  div.subtotal-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1rem 0rem 1rem;
    margin: 1rem;
    color: var(--primary_color);
  }
  p.order-delivery-value {
    padding-bottom: 2rem;
    border-bottom: 0.01rem solid var(--primary_color);
  }
  /* footer on cart page */
  footer.footer {
    padding: 6rem;
  }
  footer.cart-footer {
    padding: 4rem;
  }
}
