@import "variables.css";
@import "checkout.css";

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

header.frontpage-header {
  display: grid;
}

body {
  background-color: var(--primary_color);
  color: var(--color_text_dark);
}

main {
  margin: 0 1.5rem;
  padding: 2rem;
  height: calc(100% - 200px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--display_font);
  font-weight: 400;
}

h1 {
  font-size: var(--h1_size);
}

h2 {
  font-size: var(--h2_size);
}

h3 {
  font-size: var(--h3_size);
}

h4 {
  font-size: var(--h4_size);
}

h5 {
  font-size: var(--h5_size);
}

h6 {
  font-size: var(--h6_size);
}

p,
label,
input,
textarea,
select,
button {
  font-family: var(--body_font);
}

input {
  border: none;
}

button {
  cursor: pointer;
}

.hidden {
  display: none;
  visibility: hidden;
}

.error-message {
  color: var(--danger_color);
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.error-border {
  border: 2px solid var(--danger_color);
}

.success-message {
  color: var(--success_color);
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.success-border {
  border: 2px solid var(--success_color);
}

.strong-link {
  color: var(--tertiary_color);
  font-weight: 700;
  text-decoration: none;
}

.cta {
  background-color: var(--tertiary_color);
  font-weight: 700;
  color: var(--primary_color);
  border: none;
  padding: 0.6rem 1rem;
  transition: var(--transition);
  cursor: pointer;
  font-size: 1rem;
}

.cta.success {
  background-color: var(--success_color);
}

.cta-error-animation {
  animation: error-animation 0.175s ease-in-out;
  background-color: var(--danger_color);
}

@keyframes error-animation {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.spinner {
  border: 5px solid var(--primary_color); /* Light grey */
  border-top: 5px solid var(--secondary_color); /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: loading 0.5s linear infinite;
  place-self: center;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.green-title {
  color: var(--tertiary_color);
  font-size: var(--h1_size);
  margin-top: 1rem;
}

/* Header */
header.frontpage-header::after {
  content: "";
  display: block;
  height: 200px;
  width: 100vw;
  background-color: var(--overlay_color);
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.img-container {
  height: 200px;
  overflow: hidden;
  width: 100vw;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-position: center 55%;
  object-fit: cover;
}

.img-title {
  color: var(--primary_color);
  text-align: right;
  padding: 2rem;
  font-size: var(--h1_title_size);
  line-height: 50px;
  position: absolute;
  z-index: 2;
  top: 0;
}

/* Sign up form */
.sign-up-form,
.log-in-form,
.checkout-form {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.sign-up-form label,
.log-in-form label,
.checkout-form label {
  margin-bottom: 0.25rem;
}

.sign-up-form input,
.log-in-form input,
.checkout-form input {
  margin-bottom: 1.25rem;
  padding: 0.5rem;
  box-shadow: var(--box-shadow);
}

.sign-up-form .cta,
.log-in-form .cta,
.checkout-form .cta {
  margin-top: 2rem;
}

/* Footer */
.form-footer {
  text-align: center;
}
